.descr{
  font-family: Trebuchet MS;
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
  .link{
    display: inline;
    color: #1698d9;
    border-bottom: 1px dashed #1698d9;
  }
  
}

.end{
  color: #ffff66;
}